<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-light" style="margin-top: 5rem;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">HealthEngine</h5>
          <p>Online doctor appointment booking platform for patients and providers.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Content</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Add Appointment</a>
            </li>
            <li>
              <a href="#!">Blog</a>
            </li>
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">WhatsApp</a>
            </li>
            <li>
              <a href="#!">Linkedin</a>
            </li>
            <li>
              <a href="#!">Twitter</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 copy">© 2020 Copyright:
      <a href="/"> HealthEngine.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->