<div class="row" style="padding-bottom: 10rem;">
    <div class="card" style="width: 38rem; height: 10rem; flex: 2;">
        <img src="../../../assets/background/bk3.jpg" style="height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h3>View Previous Appointment</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-outline-primary" routerLink="/appointments">View List</button>
        </div>
    </div>
    <div class="card ml-4" style="width: 22rem; height: 10rem; flex: 1;">
        <img src="../../../assets/background/bk2.jpg" style="height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 >Schedule Appointment</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-outline-success" routerLink="/add">Add new</button>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 5rem; padding-bottom: 5rem;">
    <div class="card" style="width: 38rem; height: 10rem; flex: 2;">
        <img src="../../../assets/background/bk4.jpg" style="height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h3>View Previous Appointment</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-outline-primary" routerLink="/appointments">View List</button>
        </div>
    </div>
</div>
